/* Estilos generales */
body {
    font-family: 'Great Vibes', cursive, 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #ffc0cb;
    line-height: 1.6;
}

.custom-font {
    font-family: 'Open Sans', sans-serif;
}

/* Estilos del header */
header {
    text-align: center;
    padding: 20px;
    background-color: #000;
    border-bottom: 2px solid #e75480;
}

header img {
    filter: brightness(0) invert(1);
}

/* Estilos del Hero Section */
.hero {
    background-image: url('https://raw.githubusercontent.com/nsk-branding/atelier-de-costura.io/main/img/pexels-photo-3965557.webp');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #ffc0cb;
    text-align: center;
    padding: 150px 20px;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.hero-text {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #ffc0cb;
}

.hero p.custom-font,
.btn-whatsapp.custom-font {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffc0cb;
}

.btn-whatsapp {
    background-color: #25d366;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    display: inline-block;
}

.btn-whatsapp:hover {
    background-color: #1ebe5d;
}

/* Estilos de la sección "Sobre Nosotros" */
.about {
    padding: 50px 20px;
    background-color: #111;
    text-align: center;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffc0cb;
}

.about-text.custom-font {
    text-align: justify;
    margin-bottom: 20px;
    color: #ffc0cb;
}

.about-images {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.about-images img {
    max-width: 100%;
    border-radius: 10px;
}

/* Estilos de la Galería */
.gallery {
    padding: 50px 20px;
    background-color: #000;
    text-align: center;
}

.gallery h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffc0cb;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.gallery-grid img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.gallery-grid img:hover {
    transform: scale(1.05);
}

/* Estilos del Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #111;
    color: #ffc0cb;
    border-top: 2px solid #e75480;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 36px;
    }

    .hero p.custom-font {
        font-size: 18px;
    }

    .about-images {
        flex-direction: column;
    }
}